// 文字
$color-text-primary: #2D2F33; // 主要文字
$color-text-regular: #5A5E66; // 常规文字
$color-text-secondary: #878D99; // 常规文字
$color-text-placeholder: #B4BCCC; // 占位文字

// 边框
$color-border-base: #D8DCE5; // 一级
$color-border-light: #DFE4ED; // 二级
$color-border-lighter: #E6EBF5; // 三级
$color-border-extra-lighter: #EDF2FC; // 四级

// 颜色
$color-primary: #409EFF; // 主要
$color-success: #67C23A; // 成功
$color-warning: #EB9E05; // 警告
$color-danger: #FA5555; // 危险
$color-info: #878D99; // 信息


